@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*--------------------------------------------Margin, padding & box-sizing reseting*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------------------------Colorimetry*/

:root {
    /*Primary color*/
    --darknavyblue: #0E1323;
    --navyblue: #1C204B;
    --lightnavyblue: #5747EA;
    --ultralightnavyblue: #7078C9;

    --offwhite: #fafafa;

    /*Secondary color*/
    --orange: #FF8B64;
    --blue: #55C2E6;
    --pink: #FF5E7D;
    --green: #4BCF82;
    --purple: #7335D2;
    --yellow: #F1C75B;
}

/*--------------------------------------------Typographie*/

h1,
h2,
p {
    font-family: "Rubik", sans-serif;
    color: var(--offwhite);
}

h1 {
    font-size: 1.5rem;
    font-weight: 100;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
}

.inactive {
    color: var(--ultralightnavyblue);
}

p {
    font-size: 0.75rem;
    font-weight: 100;
}

.time-total {
    font-size: 2.5rem;
    font-weight: 100;
}

.ultra-light-navy-blue {
    color: var(--ultralightnavyblue)
}

/*--------------------------------------------Containers*/

/*Main*/

body {
    background-color: var(--darknavyblue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    background-color: var(--darknavyblue);
    width: 90%;
    margin: 0 auto;
}


/*Titel-box*/

#title-box {
    position: relative;
}

#name-box {
    height: 6rem;
    position: relative;
    background-color: var(--lightnavyblue);
    border-radius: 1rem;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "portrait report"
        "portrait name";
}

#portrait {
    width: 4rem;
    height: 4rem;
    border-radius: 90%;
    border: 0.15rem solid var(--offwhite);
    grid-area: portrait;
    align-self: center;
    justify-self: center;
}

#report {
    grid-area: report;
    align-self: self-end;
    margin-bottom: 0;
}

#name {
    grid-area: name;
    align-self: self-start;
    margin-bottom: 0;
}

#periode-box {
    height: 5rem;
    position: relative;
    top: -3rem;
    /*To compensate the space left free by the top -3rem*/
    margin-bottom: -4rem;
    background-color: var(--navyblue);
    border-radius: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;

}

/*Work, play, study... -box*/

.icon-box {
    background-color: var(--orange);
    position: relative;
    bottom: -3rem;
    /*To compensate the top -3rem space left free*/
    margin-top: -1rem;
    height: 5rem;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 10;
}

.icon {
    height: 4rem;
    width: 4rem;
    position: absolute;
    right: 1rem;
    top: -0.5rem;
}

.data-box {
    background-color: var(--navyblue);
    border-radius: 1rem;
    z-index: 20;
    padding: 1rem;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "activity three-points"
        "time-total last-periode-time-total"
}

.activity {
    grid-area: activity;
    align-self: flex-end;
    margin: 0;
}

.three-points {
    grid-area: three-points;
    align-self: flex-end;
    justify-self: end;
    font-size: 1.5rem;
    margin: 0;
}

.time-total {
    grid-area: time-total;
    align-self: center;
    margin: 0;
}

.last-periode-time-total {
    grid-area: last-periode-time-total;
    align-self: center;
    justify-self: end;
    margin: 0;
}